# Puerto del backend (3001 para evitar conflictos con otras aplicaciones como LibroDiario que usa el 3000)
PORT=3001

# JWT para autenticacion
JWT_SECRET=CAMBIAR_ESTA_CLAVE

# SQL Server
DB_USER=shsUnificado
DB_PASSWORD=LaCrujia_3261
DB_SERVER=72.62.137.165
DB_NAME=
DB_PORT=1433

# Opciones de mssql
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=false
