# Puerto del backend
PORT=3000

# JWT para autenticacion
JWT_SECRET=CAMBIAR_ESTA_CLAVE

# SQL Server
DB_USER=shsUnificado
DB_PASSWORD=LaCrujia_3261
DB_SERVER=72.62.137.165
DB_NAME=
DB_PORT=1433

# Opciones de mssql
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=false
